@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);.float-right {
  float: right;
}

.alert a {
  font-weight: normal;
  text-shadow: none;
}

.message-success {
  color: #00be8c;
  background-color: #1e4a3d;
}

.message-error {
  color: #f1002d;
  background-color: #50252d;
}

.red {
  color: #de4747 !important;
}

.secondary-text {
  color: #848484 !important;
}

.checkbox-container {
  cursor: pointer;
  display: block;
  font-size: 12px;
  position: relative;
  padding-left: 30px;
  padding-top: 2px;
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container:hover .checkmark {
  background-color: #424242 !important;
}

.checkbox-container input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkbox-container .checkmark {
  background-color: #424242;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
}

.checkbox-container .checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #292929;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 2px;
  left: 6px;
  height: 11px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 5px;
}

html,
body {
  background-color: #292929;
}

.navbar {
  background-color: #212121;
  border: 0;
  line-height: 50px;
  margin-bottom: 0;
}

.navbar .navbar-nav {
  margin-left: 30px;
}

.navbar .navbar-nav a {
  color: white;
  padding-bottom: 6px !important;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-nav a:focus,
.navbar .navbar-nav a.active {
  background-color: #212121 !important;
  border-bottom: 3px solid #fff;
}

.navbar img {
  width: 180px;
}

.navbar input[name="search"] {
  margin-top: 8px;
}

.navbar .login {
  color: #fff;
  margin: 0 12px 0 0;
}

form label {
  color: white;
}

form select option {
  color: white;
  background-color: #424242;
}

.form-control {
  background-color: #424242 !important;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: white !important;
}

.btn {
  background-color: #245580;
  color: white;
  outline: none !important;
  width: 110px;
}

.btn:hover {
  color: darkgrey;
}

.content {
  margin-top: 50px;
}

.content .header {
  background-color: #245580;
  margin-bottom: 10px;
}

.content .header h4 {
  color: #fff;
  margin-top: 13px;
}

.login .login-logo {
  text-align: center;
  margin-bottom: 70px;
}

.login .login-logo img {
  width: 180px;
}

.login .forgot {
  margin-top: 5px;
}

.song-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.song-list .song-item {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  padding: 7px;
  position: relative;
  margin-bottom: 5px;
}

.song-list .song-item img {
  max-width: 100%;
}

.song-list .song-item .details {
  background-color: #292929;
  height: 60px;
  padding-top: 5px;
  position: absolute;
  top: 161px;
  width: 94%;
}

.song-list .song-item .details .name {
  color: #fff;
  margin: 0;
}

.song-list .song-item .details .subname,
.song-list .song-item .details .downloads {
  font-size: 13px;
}

